@media (max-width: 84em) {
  html {
    font-size: 48.25%;
  }

  body {
    max-width: 120rem;
  }

  .pentagon-img {
    height: 32rem;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 46.25%;
  }

  body {
    max-width: 100rem;
  }

  .choice-circle {
    height: 24rem;
    width: 24rem;
  }

  .btn-play-again {
    padding: 2.6rem 5.2rem;
  }

  .choice-text {
    font-size: 2.6rem;
  }
}

@media (max-width: 58em) {
  .header {
    max-width: 100%;
    width: 50rem;
    width: 100%;
  }

  /* .container {
    width: 50rem;
  } */

  html {
    font-size: 50%;
  }

  .pentagon-img {
    height: 45rem;
  }

  .play-circle {
    height: 18rem;
    width: 18rem;
  }

  body {
    max-width: 60rem;
  }

  .btn {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .scissors {
    left: 14.5rem;
    top: -9rem;
  }

  .play-icon {
    width: 6.7rem;
    height: 7.6rem;
  }

  .game-round-container {
    grid-template-columns: 1fr 1fr;
  }
  .choice-text {
    font-size: 2.5rem;
  }

  .choice-circle {
    height: 24rem;
    width: 24rem;
  }

  .in-play-icon {
    width: 8.7rem;
    height: 9.6rem;
  }

  .user-text {
    order: -1;
  }

  .computer-text {
    order: 0;
  }

  .user-fade-in {
    order: 0;
  }

  .house-fade-in {
    order: 1;
  }

  .win-lose-container {
    order: 4;
    grid-column: 1 / 3;
    margin-top: 3.6rem;
  }

  .win-lose-text {
    font-size: 9.8rem;
  }

  .win-lose-description {
    font-size: 3.6rem;
  }

  .btn-play-again {
    font-size: 2.8rem;
    padding-left: 9.2rem;
    padding-right: 9.2rem;
    padding-top: 3.2rem;

    padding: 3.2rem 10.2rem;
  }

  .empty-cell {
    order: 5;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 44%;
  }

  body {
    max-width: 40rem;
  }

  .rpsls-logo {
    height: 7.5rem;
    width: 6.5rem;
  }

  .score-container {
    padding: 1.2rem 3.2rem;
  }

  .score-container p {
    font-size: 1.5rem;
  }

  .score-container h1 {
    font-size: 5.5rem;
  }

  .pentagon-img {
    height: 30rem;
  }

  .play-circle {
    height: 12rem;
    width: 12rem;
  }

  .scissors {
    left: 10rem;
    top: -7rem;
  }

  .play-icon {
    width: 3.7rem;
    height: 4.6rem;
  }

  .choice-circle {
    height: 15rem;
    width: 15rem;
  }

  .btn {
    font-size: 1.2rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }

  .btn-rules {
    padding-right: 4.8rem;
    padding-left: 4.8rem;
  }

  .choice-text {
    font-size: 1.2rem;
  }

  .win-lose-text {
    font-size: 6.4rem;
  }

  .btn-play-again {
    font-size: 1.8rem;
    padding: 2.4rem 10.8rem;
  }

  .win-lose-container {
    margin-top: 0;
  }
}
