/* HEADER STYLES */

.header {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  width: 50%;
  /* margin-bottom: 8rem; */
  /* justify-self: center; */
  align-self: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  padding-bottom: 2rem;
  margin: 4.8rem 0;
  border: 0.3rem solid hsl(217, 16%, 45%);
  border-radius: 1.4rem;
  width: 100%;
}

.rpsls-logo {
  height: 13.5rem;
  width: 12.5rem;
}

.score-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: #eee;
  padding: 0 6.4rem;
  border-radius: 1.4rem;
}

.score-container p {
  color: hsl(229, 64%, 46%);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.score-container h1 {
  color: hsl(229, 25%, 31%);
  font-size: 8rem;
  text-align: center;
}

/* MAIN-CONTENT - START - STYLES */
main {
  justify-self: center;
  align-self: center;
}
.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8rem; */
}

.pentagon-container {
  position: relative;
}

.play-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
  border: 1.4rem solid;
  background-image: linear-gradient(to bottom, #eee, #ccc);
  cursor: pointer;
  transition: all 0.05s;
}

.play-circle:hover {
  outline: 0.3rem solid #3b4262;
  outline-offset: -1.6rem;
}

.play-icon {
  width: 3.7rem;
  height: 4.6rem;
}

.spock {
  border-color: hsl(189, 59%, 53%);
  box-shadow: 0px 5px hsla(189, 58%, 57%, 0.6);
  top: 5.6rem;
  left: -5rem;
}
.scissors {
  border-color: hsl(39, 89%, 49%);
  box-shadow: 0px 5px hsla(40, 84%, 53%, 0.6);
  top: -5rem;
  left: 10.5rem;
}
.paper {
  border-color: hsl(230, 89%, 62%);
  box-shadow: 0px 5px hsla(230, 89%, 65%, 0.6);
  top: 5.6rem;
  right: -5rem;
}
.rock {
  border-color: hsl(349, 71%, 52%);
  box-shadow: 0px 5px hsla(349, 70%, 56%, 0.6);
  bottom: -4rem;
  right: 1.8rem;
}
.lizard {
  border-color: hsl(261, 73%, 60%);
  box-shadow: 0px 5px hsla(261, 72%, 63%, 0.6);
  bottom: -4rem;
}

/* MAIN-CONTENT - FACEOFF - STYLES */
.game-round-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9.4rem;
  justify-items: center;
  align-items: center;
}

.choice-text {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

/* Overwrite styles for round */
.choice-circle {
  position: static;
  height: 34rem;
  width: 34rem;
  cursor: default;
}

.choice-circle:hover {
  outline: none;
}

.in-play-icon {
  width: 10.7rem;
  height: 12.6rem;
}

.win-lose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.win-lose-text {
  font-size: 6.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
}

.win-lose-description {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3.6rem;
}

.btn-play-again {
  font-size: 2rem;
  background-color: #fff;
  color: #3b4262;
  padding: 2.8rem 8.2rem;
}

.btn-play-again:hover {
  background-color: transparent;
  color: #fff;
}

/* MODAL STYLES */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.4rem);
  z-index: 100;
  transition: all 0.5s;
}

.rule-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: #eee;
  border-radius: 1.4rem;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.rule-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rule-heading {
  color: #3b4262;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.btn-close-modal {
  font-family: inherit;
  color: #3b4262;
  position: absolute;
  top: 1rem;
  right: 4rem;
  font-size: 8rem;
  cursor: pointer;
  border: none;
  background: none;
}

.rule-img {
  height: 58rem;
  justify-self: center;
}

.rule-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-self: center;
  color: #3b4262;
  font-size: 2.4rem;
}

/* FACEOFF ANIMATIONS */

.user-fade-in,
.house-fade-in,
.win-lose-container,
.score-fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.score-fade-in {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-right: 300%;
    width: 300%;
  }
  to {
    opacity: 1;
    margin-right: 0%;
    width: 100%;
  }
}

.house-fade-in {
  animation-delay: 1s;
}

.win-lose-container {
  animation-delay: 1.7s;
}

.score-fade-in {
  animation-delay: 2.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* FOOTER STYLES */
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
